<p id="notice"><%= notice %></p>

<p>
  <strong>Zipcode:</strong>
  <%= @car.zipcode %>
</p>

<p>
  <strong>Price:</strong>
  <%= @car.price %>
</p>

<p>
  <strong>Milage:</strong>
  <%= @car.milage %>
</p>

<p>
  <strong>Body style:</strong>
  <%= @car.body_style %>
</p>

<p>
  <strong>Interior color:</strong>
  <%= @car.interior_color %>
</p>

<p>
  <strong>Exterior color:</strong>
  <%= @car.exterior_color %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model.make.company_name %> - <%= @car.model.name %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
