<p id="notice"><%= notice %></p>

<h1>Cars</h1>

<table>
  <thead>
    <tr>
      <th>Zipcode</th>
      <th>Price</th>
      <th>Milage</th>
      <th>Body style</th>
      <th>Interior color</th>
      <th>Exterior color</th>
      <th>Model</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.zipcode %></td>
        <td><%= car.price %></td>
        <td><%= car.milage %></td>
        <td><%= car.body_style %></td>
        <td><%= car.interior_color %></td>
        <td><%= car.exterior_color %></td>
        <td><%= car.model.make.company_name %> - <%= car.model.name %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>
