<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @model.name %>
</p>

<p>
  <strong>Make:</strong>
  <%= @model.make %>
</p>

<%= link_to 'Edit', edit_admin_model_path(@model) %> |
<%= link_to 'Back', admin_models_path %>
